<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/test" method="POST">
    <textarea name="payload" rows="20" cols="80">
        {"command":"SendPreOrder", "payload":{"agent_id":1}}
    </textarea>
    <br>
    {% raw xsrf_form_html() %}
    <input type="submit" value="Send Task">
</form>
</body>
</html>